/*#BlogContent {
	width: 538px;
	float: right; 	
	margin: 0;
	text-align: left;
}*/

#BlogContent .blogEntry{
	margin-bottom:20px;
}

.BlogError {
	text-align: center;
}
/* IE cuts the bottom of the tags off */
* html #Sidebar p.tagcloud {
	padding-bottom: 10px;
}
.BlogError p {
	color: #fff;
	display: inline;
	background-color:	#f77;
	padding: 7px;
	font-weight:bold;
}

#BlogEntry_Form_BlogEntryForm #ContentLabel{
	display:inline;
}

#BlogEntry_Form_BlogEntryForm .CompositeField {
	position: relative;
	width: 100%;
}

#BlogEntry_Form_BlogEntryForm #BBCodeHint {
	cursor: pointer;
	font-size:0.8em;
	position: absolute;
	left: 240px;
	top: 3px;
}
#BlogEntry_Form_BlogEntryForm #BBTagsHolder{
	display: block;
	position: absolute;
	top: 30px;
	left: 325px;
}
.blogSummary {
	border-bottom: 1px solid #ddd;
	padding-bottom: 25px;
}
.blogSummary .blogSummaryHeader{
	margin:25px 0;
}
.blogSummary .blogSummaryHeader span{
	margin-right:10px;
}
.blogSummary .blogSummaryContent{
	margin:25px 0;
}
#Content label{
	margin-top: 0px;
}
#Layout p.authorDate,
#Layout p.tags {
	font-size: 0.9em;
	color: #777;
	margin: -15px 0 12px 0;
}
.blogVitals {
	text-align: right;
}
a.comments {
	background: url(../images/comments.gif) no-repeat left center;
	padding: 3px 0 3px 25px;
}
a.readmore {
	background: url(../images/readmore.gif) no-repeat left center;
	padding: 3px 0 3px 25px;
}

a#editpost{
	background: url(../images/edit.gif) no-repeat left center;
	padding: 3px 0 3px 25px;
}

a#unpublishpost{
	background: url(../images/delete.gif) no-repeat left center;
	padding: 3px 0 3px 25px;
}

.featuredImage{
	padding:8px 8px 8px 0;
	max-width:150px;
}
.blogSummary .featuredImage{
	float:right;
}

.ownerAction{
    margin:10px 0;
    display:block;
    height: 28px;
}

.blog .postMeta i, .blogSummary i{
    padding-right: 3px;
    margin-top: 2px;
}

.blog #CommentHolder{
    margin-bottom:20px;
}

.blog .PageComments {
    display: block;
}

.blog .PageComments .postMeta{
    display:block;
    margin:0 0 10px 0;    
}

.blog .PageComments .postMeta span{
	display: block;
	padding: 2px;
}

.blog .PageComments .icon-comment{    
    float:left;
    padding: 0 2px;
    margin: 0 2px;
}

.blog .PageComments {
    margin: 10px 0 0;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

.blog .PageComments .actionLinks{
    margin: 10px 0;
}

.blog #CommentsRSSFeed {
    margin: 20px 0;
}

.blog .blogEntry .addthisWidget h3 {
	float: left;
	margin: 10px 20px 0 0;
}

.blog .blogEntry .addthisWidget #addThisWidget{
padding: 12px 0 0 0;
}

.blog #DeleteAllLink {
    margin:10px 0;
}

.blog #PageCommentInterface_Form_PostCommentForm fieldset {
    margin-top:20px;
}

.blog #PageCommentInterface_Form_PostCommentForm .field{
    clear: both;
}

.blog #PageCommentInterface_Form_PostCommentForm .field > label{
    float: left;
    margin: 5px;
}

.blog #PageCommentInterface_Form_PostCommentForm .field .middleColumn, .blog #PageCommentInterface_Form_PostCommentForm #Captcha, .blog #PageCommentInterface_Form_PostCommentForm .Actions input{
    margin-left: 15%;
}

.blog #PageCommentInterface_Form_PostCommentForm .field .middleColumn textarea{
    min-width:50%;
}

.blog #PageCommentInterface_Form_PostCommentForm .Actions input{
    width:80px;
    margin-top:20px;
}



